{
    "overrides": [{
        "plugins": [
            [ "/Users/cwilliams/repos/babel-plugin-transform-titanium/src/index.js", { "deploytype": "test", "target": "whatever", "platform": "android" } ]
        ]
    }]
}